.products_container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.left_Menu {
    flex: 1;
}

.search {
    padding: 10px;
}

h1 {
    font-size: 30px;
    color: #555;
    font-weight: 300;
}

.cats {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cat {
    font-size: 20px;
    font-weight: 200;
    padding: 5px;
    cursor: pointer;
}

.contents {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}